.follow-button
  background-color #0080FF
  border-radius 1px
  display flex
  flex-direction row
  align-items center
  border none
  padding 0
  cursor pointer
  outline none

.follow-button:hover
  background-color #044FB3

.follow-button__icon
  padding 0 10px 0 14px
  width 16px
  height 16px

.follow-button__text
  color #FFFFFF
  font-size 14px
  padding 8px 14px 8px 0
