<app-card>
  <app-avatar card-avatar>
    <img src="https://avatars2.githubusercontent.com/u/9287" alt="avatar">
  </app-avatar>
  <span card-title>HTML Only</span>
  <span card-link>
      <a href="http://www.google.com" target="_blank">User</a>
    </span>
  <app-follow-button card-button>Follow</app-follow-button>
</app-card>

<app-card *ngFor="let user of users$ | async; trackBy: trackUserById">
  <app-avatar card-avatar>
    <img [src]="user.avatar_url" [alt]="user.login">
  </app-avatar>
  <span card-title>{{user.login}}</span>
  <span card-link>
      <a [href]="user.html_url" target="_blank">{{user.score}}k</a>
    </span>
  <app-follow-user-container
    card-button
    [user]="user"
  >
  </app-follow-user-container>
</app-card>
